.row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_product{
    margin-top: 100px;
    margin-left: 35px; 
    border-radius: 25px;
    width: 120px;
    border-style: none;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    position: relative;
   
    background: #FFFFFF;
    justify-content: center;

  }
  .product{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    justify-content: center;
    border-radius: 100px;
    right: 25px;
  }
  .product_name{
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    padding: 10px;
    font-weight: 900;
  }
  .card_product h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #6A4029;
    text-align: center;
  }
  @media screen and (max-width: 576px){
    .product{
        right: 10px;
    } 
  }
  @media screen and (max-width: 768px){
    .product{
        right: 10px;
    } 
    .content{
      height: 935px;
      overflow-x: scroll;
    }
    
  }