footer{
    background-color: #f3f3f3;
    height: auto;
    display: flex;
    padding-top: 80px;
   
}
.logo2{
    margin-top: 35px;
    display: flex;
    align-items: center;
    margin-left: 150px;
    
   
}
.logo2 img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.logo2 h1{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    
}
.section1 p{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 15px;
    font-weight: 550;
    font-family: rubik;
    color: #4F5665;
    line-height: 20px;
}

footer .social{
    display: flex;
    margin-left: 128px;
}
footer .social img{
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition-duration: 55ms;
}
footer .social img:hover{
    transform: scale(1.1);
}
footer .since{
    margin-top: 5px;
    color: #AFB5C0;
    font-weight: normal;
    font-size: 12px;
}
footer ol{
    margin-top: 35px;
    list-style-type: none;
}
footer ol b{
    font-size: 18px;
}

footer ol li{
    font-family: rubik;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: #4F5665;
}
footer ol li:hover{
    color: #6a4029;
    font-weight: 600;
}
footer .section3 ol{
    margin-left: 100px;
 }
 .section23{
    margin-top: -20px;
     display: flex;
     flex-direction: row;
 }
 @media screen and (max-width: 576px){
     footer{
         display: flex;
         flex-direction: column;
     }
     .section23{
         margin-top: 15px;
     }
     .logo2{
         margin-left: 20px;
     }
     .section1 p{
         margin-left: 20px;
     }
     footer .social{
         margin-left: 20px;
     }
 }