body{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    box-shadow: 1px 1px 10px #CCCCCC;
}
.logo{
    width: 30%;
    display: flex;
    align-items: center; 
    justify-content: center;
   
  }
  .logo h1{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-nav{
    width: 60%;
    display: flex;
    justify-content: center;

  }
  .navbar-nav .nav-item{
    padding-left: 10px;

  }
 
  .secondary-menu .menu{
    display: flex;
    list-style-type: none;
  }
  .secondary-menu .menu li{
    margin: 15px;
    font-size: 13px;
    cursor: pointer;
  }
  .secondary-menu .menu li a{
    text-decoration: none;
    font-weight: 600;
  }
  .secondary-menu .menu li input{
    background: #EFEEEE;
    border-radius: 30px;
    width: 150px;
    height: 24px;
    left: 969px;
    top: 49px;
    padding-left: 10px;
    border-style: none;
  }
  
  
  .signup{
    width: 100px;
    margin: 15px;
    height: 30px;
    background: #FFBA33;
    border-radius: 50px;
    font-family:"Rubik", sans-serif;
    border-style: none;
    
}
.login{
    width: 100px;
    margin: 15px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family:"Rubik", sans-serif;
    border-style: none;
}
@media screen and (max-width: 576px){
  nav{
    height: auto;
  }
}
@media screen and (max-width: 768px){
  nav{
    height: auto;
  }
}